
#title{
  width: 40%;
}


#description{
    width: 40%;
    height: 15vh;
}


#craete_task{

  cursor: pointer;
}











.form{
    text-align: center;
}

.card-body{

position: relative;
border: 2px solid red;

}
.card-border{

  /*   width: 330px;
    height: 300px; */
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;



    
}

h4{

    font-family: 'poppins';
    font-weight: 700;
    color: red;
    

}

.head22{
  text-align: center;
  font-family: 'Moki-lean';

}



.cards {
/*     display: flex;
    
    flex-wrap: wrap;
    align-items: flex-start; */
  display:inline-block;
    margin: 30px ;

  }
  .card {
    flex: 0 0 200px;
 /*    margin: 40px 30px; */
    
    border: 1px solid black;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  } 

  .card .text {
    padding: 0 20px 20px;
    font-family: 'reval';
  }
  .card .text >p{
    font-family: 'gilroy';
    font-size: 15px;
  }
  .card .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    margin-top: 15px;
    text-transform: uppercase;
    }
